################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug
/.vs/NatureNexus/FileContentIndex/merges
/.vs/NatureNexus/FileContentIndex
/obj
/Properties
